{% extends 'layouts/base.html' %}

{% block content %}

<h1>About</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi suscipit corrupti est deleniti accusamus voluptatibus quod exercitationem? Facere pariatur alias deserunt explicabo rerum voluptatibus officiis voluptatum quia accusantium, porro, temporibus delectus consectetur beatae enim deleniti nobis ducimus tenetur voluptates perspiciatis consequuntur quisquam perferendis a. Iste quibusdam perspiciatis cumque maiores explicabo eaque ipsa corrupti. Quidem quia cupiditate unde aliquid, vitae inventore adipisci praesentium ullam iure quasi voluptatum quaerat nobis consequuntur mollitia pariatur sequi at magnam laborum aliquam dolorem officiis sit vel officia. Aliquid atque cum illum aut quisquam quas at illo ducimus ullam unde. Debitis non reiciendis consequatur quasi alias impedit.</p>

<p>Website created by {{ username }}</p>

{% endblock %}